
*{
    margin: 0;
    padding:0;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #fffaf5;
  color: #333;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
  background-color: #c0392b;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f1c40f;
}


main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  flex: 1;}

h1 {
  text-align: center;
  color: #c0392b;
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

section div {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

h2 {
  color: #e74c3c;
}

.food-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}


footer {
  background-color: #c0392b;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%   ;

}

footer p {
  margin: 5px 0;
  font-size: 14px;
  
}
