* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titel-container {
    text-align: center;
    color: rgb(8, 7, 7);
    padding: 20px;
}

.titel {
    font-family: 'Old English Text MT', cursive;
    font-size: 100px;
    font-style: normal;
    margin: 0;
}

.under-titel {
    font-family: cursive;
    font-size: 50px;
    font-style: normal;
    color: rgb(23, 20, 20);
}

.back-to-home {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.back-to-home img {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    /* Förhindra suddighet på bilden */
}

.flexbox-container {
    display: flex;
}

.flexbox1,
.flexbox2,
.flexbox3 {
    flex: 1;
    /* Dela flex-container i tre delar */
    position: relative;
    overflow: hidden;
    /* För att dölja eventuellt överskott av bilderna */
}

.flexbox-container img {
    width: 100%;
    height: auto;
    display: block;
    /* För att undvika mellanrum under bilderna */
}

.info,
.information,
.information1,
.information2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    justify-content: space-between;
    /* Uppdatering: Placera text och bild på båda sidor */
}

.info img,
.information img,
.information1 img,
.information2 img {
    width: 40%;
    height: auto;
}

.Info1,
.info2,
.info3,
.info4 {
    max-width: 50%;
    position: absolute;
}

.Info1 p,
.info2 p,
.info3 p,
.info4 p {
    font-size: 30px;
    color: rgb(92, 68, 68);
}

.information img {
    width: 40%;
    height: auto;
    margin-left: 1100px;
    /* Justera avståndet mellan text och bild om det behövs */
}

.Info1 {
    left: 45%;
    height: auto;
}

.info2 {
    margin-right: 15px;
    /* Uppdatering: Justera högermarginalen för texten */
    left: 10%;
    height: auto;
    margin-bottom: 10%;
}

.info3 {
    left: 45%;
    height: auto;
}

.information2 img {
    width: 40%;
    height: auto;
    margin-left: 1100px;

}

.info4 {
    margin-right: 15px;
    /* Uppdatering: Justera högermarginalen för texten */
    left: 10%;
    height: auto;
    margin-bottom: 10%;
}